<!DOCTYPE html>
<html lang="en">
    <head>
        {%with messages = get_flashed_messages()%}
            {%if messages %}
                <script type="text/javascript">
                    alert("{{messages[-1]}}");
                </script>
            {%endif%}
        {%endwith%}
        <title>Login</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="/static/css/login_util.css">
        <link rel="stylesheet" type="text/css" href="/static/css/login.css">
    </head>
    <body>
        <div class="limiter">
            <div class="container-login100">
                <div class="wrap-login100">
                    <form class="login100-form validate-form" action="/" method="POST">
                        <span class="login100-form-title p-b-26">
                            Welcome
                        </span>
                        <span class="login100-form-title p-b-26">
                            Bollsoneshot
                        </span>
                        <div class="wrap-input100 validate-input" data-validate = "Valid email is: a@b.c">
                            <input class="input100" type="text" name="Username" required>
                            <span class="focus-input100" data-placeholder="Username"></span>
                        </div>

                        <div class="wrap-input100 validate-input" data-validate="Enter password">
                            <span class="btn-show-pass">
                                <i class="zmdi zmdi-eye"></i>
                            </span>
                            <input class="input100" type="password" name="pass" required>
                            <span class="focus-input100" data-placeholder="Password"></span>
                        </div>

                        <div class="container-login100-form-btn">
                            <div class="wrap-login100-form-btn">
                                <div class="login100-form-bgbtn"></div>
                                <a class="login100-form-btn" type = 'submit'>
                                    Login
                                </a>
                            </div>
                        </div>
                        <div class="container-login100-form-btn">
                            <div class="wrap-login100-form-btn">
                                <div class="login100-form-bgbtn"></div>
                                <a class="login100-form-btn" href="/guest">
                                    guest
                                </a>
                            </div>
                        </div>
                        <div class="text-center p-t-115">
                            <span class="txt1">
                                Don’t have an account?
                            </span>
                            <a class="txt2" href="/register">
                                Sign Up
                            </a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        

        <div id="dropDownSelect1"></div>
    </body>
</html>