<html>
    <head>
        <link rel="stylesheet" href="/static/css/nav.css" />
    </head>
    <body>
        <header id="header">
          <h1><a href="/">bullsoneshot</a></h1>
          <nav class="links">
            <ul>
              <li><a href="/">Home</a></li>
              <li><a href="/stocks">Search</a></li>
              <li><a href="/introduce">Introduce</a></li>
              <li><a href="/log_out">Logout</a></li>
            </ul>
          </nav>
        </header>
    </body>
</html>

